@reference "tailwindcss";

.stageContainer {
  @apply relative w-full overflow-hidden;
  min-height: calc(70svh - var(--h-header));
  max-height: calc(70svh - var(--h-header));
}

.embedded {
  min-height: 100%;
  max-height: 100%;
  height: 100%;
}

.toastSlot {
  @apply absolute left-0 right-0 top-6 z-10 flex flex-col gap-2 px-6 pointer-events-none;
}

.toastSlot__center {
  @apply bottom-0 top-0 flex items-center justify-center;
}

.embedded .toastSlot {
  @apply top-3 px-3;
}

.controls {
  @apply absolute bottom-0 left-0 right-0 z-10 flex flex-col items-center gap-4 px-6 pb-12 pointer-events-none;
}

.embedded .controls {
  @apply gap-2 pb-4 px-3;
}

.listening {
  @apply w-fit;
}
