@reference "tailwindcss";

.contactForm {
  @apply flex flex-col lg:flex-row relative items-end -top-16 -mb-16 px-5 lg:px-10 py-5 lg:py-12 rounded-2xl shadow-lg gap-4;
  --gl-box-fill: linear-gradient(var(--background), var(--background));
}

.contactForm button {
  @apply min-w-48 w-full max-w-full;
}

.contactForm button span {
  @apply text-nowrap;
}

.contactForm__group {
  @apply w-full flex items-start lg:items-end gap-1;
}

.contactForm__extension {
  @apply max-w-14;
}

.contactForm__extension input {
  @apply px-2 pl-5;
}

.contactForm__extension div {
  @apply relative;
}

.contactForm__extension div::before {
  content: "+";
  color: currentColor;
  @apply absolute w-2 h-2 left-2.5 block text-sm top-[13px] md:top-[10.5px];
}

.contactForm__extension label {
  @apply text-nowrap;
}
