@reference "tailwindcss";

.curve {
  @apply relative;
}

.curve .curve__svg svg,
.curve .curve__bg {
  height: calc(100vh + 600px);
  @apply fixed pointer-events-none left-0 top-0 z-[101] w-lvw;
  transform: translateZ(0);
  will-change: transform;
}

.curve .curve__bg {
  transition: opacity 0s linear 0.1s;
  @apply z-[102];
  background-color: var(--cuartary);
}

.curve .curve__route {
  @apply fixed text-center z-[103] left-0 right-0 top-[40vh] w-full font-bold uppercase pointer-events-none text-xl lg:text-3xl 2xl:text-5xl;
  will-change: opacity, transform;
  color: #001643;
}

.curve .curve__route__transition {
  animation: 0.75s ease forwards 1 transition-text;
}

@keyframes transition-text {
  from {
    opacity: 0 !important;
    transform: translateZ(0) scale(0.75);
  }
  to {
    opacity: 1 !important;
    transform: translateZ(0) scale(1);
  }
}
